{% extends 'watsons/Base.html' %}
{% load static from staticfiles %}
{% block content %}



<h2>RFM List</h2>

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
           <th>Customer</th>
           <th>time</th>
        </tr>
      </thead>
      <tbody>
        
        {% for i in Association_list %}

          <tr>
             <td>{{ i.Product }}</td>
             <td>{{ i.Count }}</td>
             

             
            
          </tr>
          {% endfor %}
    
        
      </tbody>
    </table>


</div>
{% endblock %}