
{% extends 'watsons/Base.html' %}
{% load static from staticfiles %}
{% block content %}



<h2>Product List</h2>

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>商品編號</th>
            <th>商品名稱</th>
            <th>品類</th>
            <th>品牌名稱</th>
            <th>存貨數量</th>
            <th>安全存貨數量</th>
        </tr>
      </thead>
      <tbody>
        
        {% for product in products %}    
        <tr>
            <td>{{product.product_id}}  </td>
            <td>{{product.product_name}}  </td>
            <td>{{product.category}}  </td>
            <td>{{product.brand}}  </td>
            <td>{{product.quantity}}  </td>
            <td>{{product.quantity_safe}}  </td>
        </tr>
        {% endfor %}
    
        
      </tbody>
    </table>
</div>
{% endblock %}