{% extends 'watsons/Base.html' %}
{% load static from staticfiles %}
{% block content %}

    <h2>顧客錢包大小</h2>
    <br>

    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Name</th>
                <th>Cosmetic</th>
                <th>Snacks</th>
                <th>Care Product</th>
            </tr>
          </thead>
          <tbody>
            
          
            {% for customer in poc %}
            <tr>
                <td>{{customer.customer}}  </td>
                <td>{{customer.total_Cosmetic}}  </td>
                <td>{{customer.total_Snacks}}  </td>
                <td>{{customer.total_Care}}  </td>
            </tr>
            {% endfor %}
            <th>Total</th>
            <th>{{cosmetic}}</th>
            <th>{{snacks}}</th>
            <th>{{care}}</th>
        
            
          </tbody>
        </table>
    
    
    </div>



{% endblock %}