{% extends 'watsons/Base.html' %}
{% load static from staticfiles %}
{% load watsons_extras %}
{% block content %}



<h2>Transaction List</h2>

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
           <th>顧客</th>
           <th>商品名稱</th>
           <th>個人購買數量</th>
           <th>單價</th>
           <th>總計</th>
           <th>訂單成立時間</th>
        </tr>
      </thead>
      <tbody>
        
        {% for i in allList %}

          <tr>
             <td>{{ i.customer.customer_name }}</td>
             <td>{{ i.product.product_name }}</td>
             <td>{{ i.amount }}</td>   
             <td>{{ i.product.price }}</td>
             <td>{{ i.product.price|multiply:i.amount }}</td>
             <td>{{ i.time }}</td>
             
          
          </tr>
          {% endfor %}
    
        
      </tbody>
    </table>
    <br/><br/>
    <h3>Year Total: 2018</h3>
    <table class="table table-striped">
            <thead>
              <tr>
                 <th>商品名稱</th>
                 <th>商品數量</th>
                 <th>單價</th>
                 <th>總計</th>
              </tr>
            </thead>
            <tbody>
              
              {% for i in yList %}
      
                <tr>
                  <td>{{ i.product|getProduct }}</td>
                  
                   <td>{{ i.sales }}</td>    
                   <td>{{ i.product|getProduct|getPrice }}</td> 
                   <td>{{ i.product|getProduct|getPrice|multiply:i.sales }}</td> 
                </tr>
                {% endfor %}
          
              
            </tbody>
          </table>
{% for key, m in mList.items %}
          <br/><br/>
    <h3>Month {{ key }} Total</h3>
          <table class="table table-striped">
                <thead>
                  <tr>
                     <th>商品名稱</th>
                     <th>商品數量</th>
                     <th>單價</th>
                     <th>總計</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for i in m %}
          
                  <tr>
                      <td>{{ i.product|getProduct }}</td>
                      
                       <td>{{ i.sales }}</td>    
                       <td>{{ i.product|getProduct|getPrice }}</td> 
                       <td>{{ i.product|getProduct|getPrice|multiply:i.sales }}</td> 
                    </tr>
                    {% endfor %}
              
                  
                </tbody>
              </table>
              {% endfor %}
</div>
{% endblock %}