{% extends 'watsons/Base.html' %}
{% load static from staticfiles %}
{% block content %}

    <h2>個別錢包佔有率</h2>

        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Cosmetic</th>
                    <th>Snacks</th>
                    <th>Care Product</th>
                </tr>
              </thead>
              <tbody>
                
                {% for customer in poc2 %}
            <tr>
                <td>{{customer.customer}}  </td>
                <td>{{customer.total_Cosmetic}}  </td>
                <td>{{customer.total_Snacks}}  </td>
                <td>{{customer.total_Care}}  </td>
            </tr>
            {% endfor %}
            
                
              </tbody>
            </table>
        
        
        </div>

{% endblock %}